<div class="w-98 w-98 px-5 450:px-0" data-controller="form" data-form-checked="<%= asset_path('checked.svg') %>" >
    <h1 class="w-full mb-5 text-center text-white text-4xl font-semibold leading-snug font-poppins" data-form-target="title">New Card</h1>
    <div data-form-target="form" class="w-full p-6 h-100 rounded-lg border border-modal-border bg-modal-background">    
    <%= form_with url: '#', local: true, data: { action: "submit->form#add", form_target: "form" } do |form| %>
        <%= form.label :address, 'Address', class: 'block text-modal-text text-sm font-bold mb-4' %>
        <div class="flex gap-6 mb-6" >
            <div class="w-full relative">
                <%= form.select :country, ['Option 1', 'Option 2', 'Option 3'], { prompt: 'Country' }, { required: true, id: "country-select", class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] px-[15px] py-[12px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "click->form#toggleSelect", form_target: "country" } } %>
                <div data-form-target="arrow1" id="arrow1" class="absolute right-0 top-0 mt-2 mr-2">
                    <%= image_tag("inputArrow.svg", alt: "icon") %>
                </div>
            </div>

            <div class="w-full relative">
                <%= form.select :stateOfRegion, ['Option 1', 'Option 2', 'Option 3'], { prompt: 'State of Region' }, {required: true, id: "stateOfRegion-select", class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] px-[15px] py-[12px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "click->form#toggleSelect", form_target: "stateOfRegion" } } %>
                <div id="arrow2" data-form-target="arrow2" class="absolute right-0 top-0 mt-2 mr-2">
                    <%= image_tag("inputArrow.svg", alt: "icon") %>
                </div>
            </div>
        </div>

        <div class="mb-6">
            <%= form.text_field :street, placeholder: 'Street', required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkInput", form_target: "street" } %>
        </div>

        <div class="flex gap-6 mb-8">
            <div class="w-full">
              <%= form.text_field :city, placeholder: 'City', class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkInput", form_target: "city" } %>
            </div>

            <div class="w-full">
              <%= form.number_field :zipCode, placeholder: 'Zip Code', required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkZipCode", form_target: "zipCode" } %>
            </div>
        </div>

        <%= form.label :cardDetails, 'Card Details', class: 'block text-modal-text text-sm font-bold mb-4' %>

        <div class="flex gap-6 mb-6" >
            <div class="w-full">
              <%= form.email_field :email, placeholder: 'Email', required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkEmail", form_target: "email" } %>
            </div>

            <div class="w-full">
              <%= form.text_field :name, placeholder: 'Cardholder Name', required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkInput", form_target: "name"  } %>
            </div>
        </div>

        <div class="relative">
            <%= form.text_field :cardNumber, placeholder: '1234 1234 1234 1234', maxlength: 19, required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-t-lg border-input-border bg-input-background text-input-text w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkCardNumber input->form#formatCardNumber", form_target: "cardNumber" } %>
            <span class="absolute gap-1 inset-y-0 right-[0.9375rem] flex items-center pl-3">
                <%= image_tag("inputVisa.svg", alt: "icon", class: "h-6 w-4") %>
                <%= image_tag("inputDinersClub.svg", alt: "icon", class: "h-6 w-4") %>
                <%= image_tag("inputAmex.svg", alt: "icon", class: "h-6 w-4") %>
                <%= image_tag("inputMastercard.svg", alt: "icon", class: "h-6 w-4") %>
            </span>
        </div>

        <div class="flex gap-0 mb-6" >
            <div class="w-full">
              <%= form.text_field :mmyy, placeholder: 'MM/YY', maxlength: 5, required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-bl-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkMmYy input->form#formatMMYY", form_target: "mmyy" } %>
            </div>

            <div class="w-full">
              <%= form.text_field :cvs, placeholder: 'CVC', maxlength: 3, required: true, class: 'text-input-text font-poppins text-sm font-normal font-semibold leading-none border shadow appearance-none rounded-br-[10px] border-input-border bg-input-background text-input-text w-full h-[40px] p-[15px] flex items-center gap-[10px] flex-shrink-0 focus:outline-none focus:shadow-outline', data: { action: "blur->form#checkCvc", form_target: "cvc" }  %>
            </div>
        </div>

        <div class="mb-4 flex gap-1.5 align-center">
            <%= form.check_box :checked, {class: 'mr-2 align-middle', data: { form_target: "checkbox" }, required: true} %>
            <%= form.label :checkedLabel, 'Check here to confirm that you are at least 18 years old and of legal age where you live', class: 'align-middle font-poppins text-sm font-medium leading-5' %>
        </div>

        <div class="flex gap-6 align-center">
            <%= form.button 'Cancel', data: {contoller: 'form', action: 'click->form#goHome'}, class: 'font-poppins text-sm font-semibold leading-5 border px-4 py-3 rounded-[10px] w-full text-main-pink border-main-pink ' %>
            <%= form.submit 'Add', class: 'bg-gradient-main font-poppins text-sm font-semibold leading-5 w-full px-4 px-3 rounded-[10px]', data: { form_target: 'submitButton' } %>
        </div>

        <% end %>
    </div>
</div>